{% extends 'movies/base.html' %}

{% load static %}

{% block content %}
	<div class="container">
		  <div class="row mt-3">
		    <div class="col-md-8">
				<p class="h3-responsive text-center bg-dark text-white">{{movie_detail.original_title}} Trailer</p>

				<div class="row">	
					<div class="embed-responsive embed-responsive-4by3">

					  {% for video in movie_detail.videos.results|slice:":1" %}
					  	<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{video.key}}" allowfullscreen></iframe>
					  {% endfor %}

					</div>
				</div>
			</div>
			<div class="col-md-4">
				<p class="h3-responsive text-center bg-dark text-white">Poster Image</p>
				<div class="card mdb-color text-center z-depth-2">
					<div class="view">
						<img src="http://image.tmdb.org/t/p/w500//{{movie_detail.poster_path}}" class="img-fluid" alt="{{movie_detail.title}}">
					</div>
				</div>
			</div>
		</div>

		<p class="h3-responsive text-center bg-dark text-white mt-3">Description</p>
		

		<div class="row mt-3">
		    <div class="col-md-6">
				<div class="view">
					<img src="http://image.tmdb.org/t/p/w500//{{movie_detail.backdrop_path}}" class="img-fluid" alt="{{movie_detail.title}}">
				</div>
			</div>
			<div class="col-md-6">
				<p class="h3-responsive">Plot</p>
				<p>{{movie_detail.overview}}</p>
				<p class="h3-responsive"> Genre: </p>
				<p>
					{% for genre in movie_detail.genres %}
						{{genre.name}},
					{% endfor%}
				</p>
				<p><span class="h3-responsive">Release Date:</span> {{movie_detail.release_date}}</p>
				<p><span class="h3-responsive">Rating:</span> {{movie_detail.vote_average}}/10</p>
				<p><span class="h3-responsive">Tags:</span> {{movie_detail.tagline}}</p>
				<p class="h3-responsive">Production Companies</p>
				<p>
					{% for company in movie_detail.production_companies %}
						{{company.name}},
					{% endfor %}
				</p>
			</div>
		</div>
	</div>
{% endblock %}

